$container-max-width: 1520px;

$default-title-font: 'Playfair Display', serif;
$default-text-font: 'Lato', sans-serif;

$blue: #00ffff;
$yellow: #fff9da;
$darkGray: #767474;
$lightGray: #d9d9d9;
$red: #a91b13;
